/* -------------- */
/* GLOBAL STYLING */
/* -------------- */

body {
    background-color: #FAE4DC;
    display:flex;
    flex-flow:column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px; margin: 0px;
}

.main {
    position: absolute;
    height: 100%; width: 650px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.title {
    font-family: 'Clear_Line', serif, sans-serif;
    font-size: 100px;
    font-weight: lighter;
    color: #637973;
    padding: 50px 10px; margin: 0px;
}

button {
    padding: 0px; margin: 0px;
    border-radius: 15px;
    background-color: #D79954;
    font-family: 'Neatly_Printed', 'Helvetica', sans-serif;
    font-size: 45px;
    color: white;
}

.index-start, .game-start {
    border: #936C47 1px solid;
    transition: all .01s ease .01s;
    width: 180px; height: 60px;
}

.add-hover {
    transform: scale(1.1);
    box-shadow: 0px 10px 10px 1px rgb(147, 108, 71, 0.5);
    border-width: 1px 1px 2px;
}

.add-click {
    transform: scale(0.9);
    border-width: 1px;
}

.thank-you {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0px; margin: 0px;
}

/* .hide {
    clip: rect(0 0 0 0);
} */

.ty-container {
    position: absolute;
    top: 111px; right: 25px;
    border: 1px dotted #637973;
    border-radius: 15px;
    padding: 15px;
}

.ty-button{
    color: #bf6f5f;
    font-size: 50px;
    padding: 25px; margin: 0px;
}

.src-ul {
    list-style-type: none;
    padding: 0px; margin: 0px;
    text-align: right;
}

.src-title {
    padding: 0px; margin: 0px;
    font-family: 'Clear_Line', serif, sans-serif;
    font-size: 40px;
    font-weight: lighter;
}

.src-link {
    font-family: 'Neatly_Printed', 'Helvetica', sans-serif;
    font-size: 20px;
}

/* ------------- */
/* INDEX STYLING */
/* ------------- */

.index-start {
    border: #936C47 1px solid;
    transition: all .01s ease .01s;
    height: 60px; width: 180px;
}

/* ------------ */
/* GAME STYLING */
/* ------------ */

.container {
    width: inherit;
    border: 1px dotted #637973;
    border-radius: 15px;
    padding: 0px 10px;
}

#computer-main, #player-main {
    display: flex;
    /* align-items: flex-start; */
    height: 240px;
}

#computer-main {
    align-items: flex-start;
}

#player-main {
    align-items: flex-end;
}

.computer-title, .player-title {
    font-family: 'Neatly_Printed', 'Helvetica', sans-serif;
    font-size: 30px;
    color: #637973;
    padding: 0px;
}

.computer-title {
    margin: -30px 0px 0px;
}

.player-title {
    margin: 0px 0px -30px;
}

.results {
    display: flex;
    justify-content: flex-start;
    gap: 37.5px;
    /* width: 650px; */
}

img {
    height: auto; width: 100px;
}

.rotate {
    transform: rotate(0.5turn);
}

.choice-buttons {
    display: flex;
    gap: 52px;
    padding-top: 50px;
}

.game-start {
    border: #936C47 1px solid;
    transition: all .01s ease .01s;
    height: 60px; width: 180px;
}

.winner {
    display:flex;
    flex-flow: column;
    justify-self: center;
    align-self: center;
    height: 50px;
    padding: 10px 15px; margin: 0px;
    position: absolute;
    top: 405px; z-index: 1;
    border: 1px dotted #284C49;
    border-radius: 15px;
    background-color: #637973;
    font-family: 'Neatly_Printed', 'Helvetica', sans-serif;
    font-size: 45px;
    color: white;
}

/* ------------ */
/* CUSTOM FONTS */
/* ------------ */

@font-face {
    font-family: Clear_Line; src: url(./fonts/ClearLine.ttf);
}

@font-face {
    font-family: Neatly_Printed; src: url(./fonts/KGNeatlyPrintedSpaced.ttf);
}
